---
import About from '../components/About.astro';
import Header from '../components/Header.astro';
import Projects from '../components/Projects.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio with astro">
	<Header/>
	<main>
		<About/>
		<Projects/>
		
	</main>
</Layout>