---
import About from '../components/About.astro';
import Header from '../components/Header.astro';
import Projects from '../components/Experience.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Skills from '../components/Skills.astro';
---

<Layout title="Portfolio with astro">
	<Header/>
	<main>
		<About/>
	<Skills/>

		<Projects/>
		
	</main>
	<Footer/>
</Layout>