---
import Section from "./Section.astro";
---

<Section>
    <img
      class="rounded-xl mb-3 w-20" 
      src="/images/avatar.jpg" 
      alt="avatar personal" 
    />
    <span class="text-3xl font-bold mb-2 text-gray-600">Hey, soy Juan Palma</span>
  </div>
  <article class="text-lg flex flex-col text-center my-5 gap-y-3 text-gray-600">
    <p>
      <span class="font-bold">Desarrollador Frontend</span> con 2 años de experiencia laboral, con un amplio repertorio de proyectos realizados en los cursos, proyectos personales y proyectos copiados de Youtube de los cuales mantengo el código en mi repositorio de GitHub, y solo algunos estan publicados en Netlify.
    </p>
    <p>
      Actualmente me encuentro buscando trabajo como Desarrollador Frontend, gustoso de poner mis conocimientos a disposición de quien contrate mis servicios.
    </p>
</Section>

