---
import Section from "./Section.astro";
---

<Section id="experience">
  <h2 class="text-3xl mb-5 font-semibold text-gray-600">Experiencia</h2>
  <ol class="relative border-s border-gray-200 dark:border-gray-700">
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700 text-gray-600">
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-600 dark:text-gray-500"
        >01-2024 a la fecha</time
      >
      <h3 class="text-lg font-semibold text-gray-600 dark:text-white">
        Realización de proyectos en Astro, CSS nativo, Tailwind y Flowbite
      </h3>
      <p class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">
        Durante este proyecto me he dedicado a realizar proyectos de youtube
        para aprender lo más completamente posible la reaización de proyectos
        con AstroJS, Tailwind, CSS nativo y Flowbite.
      </p>
    </li>

    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
      </div>
      <time
        class="mb-1 text-lg font-normal leading-none text-gray-600 dark:text-gray-500"
        >2023</time
      >
      <h3 class="text-lg font-semibold text-gray-600 dark:text-white">
        Realización de cursos en JovenesProgramadores de BiblioRedes
      </h3>
      <p class="text-lg font-normal text-gray-500 dark:text-gray-400">
        realización de varios cursos de programación en "jovenesProgramadores",
        prodgrama de Educación de BiblioRedes".
        <ul class="my-3 text-lg italic text-gray-600">
          <li>- CSS</li>
          <li>- Javascript - Nivel I</li>
          <li>- Javascript - Nivel II</li>
          <li>- Javascript - Nivel III ReactJS</li>
          <li>- PHP - Nivel I</li>
          <li>- Introducción a Ptyhon</li>
        </ul>
      </p>
    </li>

    <li class="ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
      </div>
      <time
        class="mb-1 text-lg font-normal leading-none text-gray-600 dark:text-gray-500"
        >2021 - 2022</time
      >
      <h3 class="text-lg font-semibold text-gray-600 dark:text-white">
        Realiza Cursos de Programación en Platzi
      </h3>
      <p class="text-lg font-normal text-gray-500 dark:text-gray-400">
        Realiza varios cursos de programación en Platzi con el fin de adentrarse en la programación web.
      </p>
      <ul class="text-lg text-gray-600 mt-3">
        <li>- Curso Básico de C# Fundamentos, Variables y Operaciones</li>
        <li>- Curso Básico de JavaScript</li>
        <li>- Curso Básico de PHP</li>
        <li>- Curso Básico de Frontend Developer</li>
        <li>- Curso de Fundamentos de Punto Net</li>
        <li>- Curso de Integración de PHP con HTML</li>
        <li>- Curso de Introducción al Desarrollo Backend</li>
        <li>- Curso de NPM, Gestión de Paquetes y dependencias en JavaScript</li>
        <li>- Curso de PHP: Instalación, Fundamentos y Operaciones Básicas</li>
        <li>- Curso de Prework; Configuración de Entorno de Desarrollo en Linux</li>
        <li>- Curso de Prework; Configuración de Entorno de Desarrollo en Windows</li>
        <li>- Curso definitivo de HTML y CSS</li>
        <li>- Curso de Pensammiento Lógico de Lenguajes de Programación</li>
        <li>- Curso Práctico de Frontend Developer</li>
        <li>- Curso Prácico de HTML y CSS</li>
        <li>- Curso Práctico de PHP</li>
      </ul>
    </li>
  </ol>
</Section>
