---

---

<header class="flex justify-between px-5 md:px-10 h-20 items-center gap-x-2 lg:gap-x-4">
  <h1 class="text-4xl transition-all ml-20 font-bold uppercase text-gray-700 text-center">
    Porfolio con astro
  </h1>

  <ul class="hidden md:flex gap-x-4 text-sm md:text-base transition-all-2">
    <li class="hover:scale-110">
      <a href="#top">Sobre mí</a>
    </li>

    <li class="hover:scale-110">
      <a href="#skills">Skills</a>
    </li>

    <li class="hover:scale-110">
      <a href="#formation">Formación</a>
    </li>

    <li class="hover:scale-110">
      <a href="#projects">Proyectos</a>
    </li>

    <li class="hover:scale-110">
      <a href="#contact">Contacto</a>
    </li>
  </ul>

</header>

<script>
  
</script>