<header class="flex justify-between px-10 h-20 items-center">
  <h1 class="text-xl md:text-2xl transition-all font-bold uppercase">
    Porfolio con astro
  </h1>
  <ul class="flex gap-x-4 text-xs ">
    <li class="hover:scale-110">
      <a href="#">About me</a>
    </li>

    <li class="hover:scale-110">
      <a href="#">Projects</a>
    </li>

    <li class="hover:scale-110">
      <a href="#">Contact</a>
    </li>
  </ul>
</header>