<header class="flex justify-between px-5 md:px-10 h-20 items-center gap-x-2">
  <h1 class="text-xl md:text-2xl transition-all font-bold uppercase text-gray-700">
    Porfolio con astro
  </h1>
  <ul class="flex gap-x-4 text-xs ">
    <li class="hover:scale-110">
      <a href="#">Sobre mí</a>
    </li>

    <li class="hover:scale-110">
      <a href="#">Experiencia</a>
    </li>

    <li class="hover:scale-110">
      <a href="#">Contacto</a>
    </li>
  </ul>
</header>