---
import Section from "./Section.astro";
---

<Section>
  <h2 class="text-2xl mb-10">Experiencia laboral</h2>
  <ol class="relative border-s border-gray-200 dark:border-gray-700">
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >01-2024 a la fecha</time
      >
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        Realización de proyectos en Astro, CSS nativo, Tailwind y Flowbite
      </h3>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        Durante este proyecto me he dedicado a realizar proyectos de youtube
        para aprender lo más completamente posible la reaización de proyectos
        con AstroJS, Tailwind, CSS nativo y Flowbite.
      </p>
    </li>

    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >2023</time
      >
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        Realización de cursos en JovenesProgramadores de BiblioRedes
      </h3>
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">
        realización de varios cursos de programación en "jovenesProgramadores", prodgrama de Educación de BiblioRedes".
        <ul class="my-3 italic">
            <li>- CSS</li>
            <li>- Javascript - Nivel I</li>
            <li>- Javascript - Nivel II</li>
            <li>- Javascript - Nivel III ReactJS</li>
            <li>- PHP - Nivel I</li>
            <li>- Introducción a Ptyhon</li>
        </ul>
      </p>
    </li>

    <li class="ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >2022</time
      >
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        E-Commerce UI code in Tailwind CSS
      </h3>
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">
        Get started with dozens of web components and interactive elements built
        on top of Tailwind CSS.
      </p>
    </li>

  </ol>
</Section>
