---
import Section from "./Section.astro";

---
<Section>
  <article class="flex flex-col text-center gap-y-3 text-gray-600">
    <h2 class="text-2xl mb-5 font-semibold">Mis Skills son:</h2>
    <ol class="text-md font-semibold grid grid-cols-2 md:grid-cols-3 gap-x-7 md:gap-x-10 gap-y-2 text-center">
      <li>HTML</li>
      <li>CSS</li>
      <li>JAVASCRIPT</li>
      <li>JQUERY</li>
      <li>REACTJS</li>
      <li>ASTRO</li>
      <li>TAILWIND</li>
      <li>BOOTSTRAP</li>
      <li>JSON</li>
      <li>MYSQL</li>
      <li>PHP</li>
    </ol>
  </article>
</Section>