---
import Html from "../icons/Html.astro";
import Section from "./Section.astro";

---
<Section>
  <article class="flex flex-col text-center gap-y-3 text-gray-600">
    <h2 class="text-2xl mb-5 font-semibold">Mis Skills son:</h2>
    <ol class="text-md font-semibold grid grid-cols-2 md:grid-cols-3 gap-x-7 md:gap-x-10 gap-y-2 text-center">
      <li class="flex items-center justify-center gap-x-2 border-2 px-2 py-1 border-zinc-400 rounded-full text-xs">
        <Html class="size-3"/>
        HTML
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-2 py-1 border-zinc-400 rounded-full text-xs">
        CSS
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-2 py-1 border-zinc-400 rounded-full text-xs">
        JAVASCRIPT
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-2 py-1 border-zinc-400 rounded-full text-xs">
        JQUERY
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-2 py-1 border-zinc-400 rounded-full text-xs">
        REACTJS
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-2 py-1 border-zinc-400 rounded-full text-xs">
        ASTRO
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-2 py-1 border-zinc-400 rounded-full text-xs">
        TAILWIND
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-2 py-1 border-zinc-400 rounded-full text-xs">
        BOOTSTRAP
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-2 py-1 border-zinc-400 rounded-full text-xs">
        JSON
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-2 py-1 border-zinc-400 rounded-full text-xs">
        MYSQL
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-2 py-1 border-zinc-400 rounded-full text-xs">
        MARIADB
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-2 py-1 border-zinc-400 rounded-full text-xs">
        PHP
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-2 py-1 border-zinc-400 rounded-full text-xs">
        GIT
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-2 py-1 border-zinc-400 rounded-full text-xs">
        GITHUB
      </li>
    </ol>
  </article>
</Section>