---
import Css from "../icons/Css.astro";
import Html from "../icons/Html.astro";
import Section from "./Section.astro";

---
<Section>
  <article class="flex flex-col text-center gap-y-3 text-gray-600">
    <h2 class="text-3xl mb-5 font-semibold">Mis Skills son:</h2>
    <ol class="text-lg font-semibold grid grid-cols-2 md:grid-cols-3 gap-x-7 md:gap-x-10 gap-y-2 text-center">
      <li class="flex items-center justify-center gap-x-2 border-2 px-3 py-2 border-zinc-400 rounded-full text-md">
        <Html class="size-6"/>
        HTML
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-3 py-2 border-zinc-400 rounded-full text-md">
        
        <Css class="size-6"/>
        CSS
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-3 py-2 border-zinc-400 rounded-full text-md">
        JAVASCRIPT
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-3 py-2 border-zinc-400 rounded-full text-md">
        JQUERY
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-3 py-2 border-zinc-400 rounded-full text-md">
        REACTJS
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-3 py-2 border-zinc-400 rounded-full text-md">
        ASTRO
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-3 py-2 border-zinc-400 rounded-full text-md">
        TAILWIND
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-3 py-2 border-zinc-400 rounded-full text-md">
        BOOTSTRAP
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-3 py-2 border-zinc-400 rounded-full text-md">
        JSON
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-3 py-2 border-zinc-400 rounded-full text-md">
        PHP
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-3 py-2 border-zinc-400 rounded-full text-md">
        MYSQL
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-3 py-2 border-zinc-400 rounded-full text-md">
        MARIADB
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-3 py-2 border-zinc-400 rounded-full text-md">
        SQLITE
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-3 py-2 border-zinc-400 rounded-full text-md">
        GIT
      </li>
      <li class="flex items-center justify-center gap-x-2 border-2 px-3 py-2 border-zinc-400 rounded-full text-md">
        GITHUB
      </li>
    </ol>
  </article>
</Section>